Django==2.1.15
boto3==
django-storages
mysqlclient
celery
python-decouple
python-dotenv
redis
s3transfer
amqp
botocore
kombu
jmespath
click
click-didyoumean
click-plugins
click-repl
colorama
prompt_toolkit
python-dateutil
setuptools
six
sqlparse
tzdata
urllib3
vine
wcwidth
